.card_1 {
    position: relative;
    left: -100%;
}

.card_2 {
    position: relative;
    left: 100%;
}

.card_3 {
    position: relative;
    left: -100%;
}

.card_4 {
    position: relative;
    left: 100%;
}

.cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(179.2deg, #eab308 5.7%, #e5e7eb 100.1%);
    /*background: #e5e7eb;*/
}
